rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedInAndOwner() {
      return request.auth.uid != null && request.auth.token.email == resource.data.email
    } 

    match /users/{user} {
      allow create: if request.auth.uid != null;
      allow update: if signedInAndOwner();
      allow read: if signedInAndOwner();

      match /notes/{note} {
        allow read, write: if true;

        match /date/{date} {
          allow read, write: if true;
        }
      }
    }
  }
}